{% load static %} 
<!DOCTYPE html>


<html lang="en">
    <head>
        <title>Gifti</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href=" {% static './css/app.css' %}">
        <link rel="icon" type="image/x-icon" href=" {% static "images/favicon.ico" %} ">
    </head>
    <header inline>
        <img class="logo" src=" {% static "images/gifti-logo-22.png" %} " width=100px>
        <ul class="nav-ul">
            <li class="nav-li"><a href={% url "homepage" %}>Home</a></li>
            <li class="nav-li"><a href={% url "wishlist" %}>My Wishlist</a></li>
            <li class="nav-li"><a href={% url "friendlists" %}>Friend's Wishlists</a></li>
            <li class="nav-li"><a href={% url "addbrand" %}>Add a Brand</a></li>
            <li class="nav-li"><a href={% url "addstore" %}>Add a Store</a></li>
            <li class="nav-li"><a href={% url "login"  %}>Login</a></li>
            <li class="nav-li"><a href={% url "logout" %}>Logout</a></li>
            <li class="nav-li"><a href={% url "signup" %}>Signup</a></li>
            <li class="nav-li"><a href={% url "faq" %}>FAQ & Help</a></li>
        </ul>
    </header>
    <br>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>